.signup-page{
    min-height:100vh;
    background:#000;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:"Inter",sans-serif;
}


.signup-card{

    width:380px;

    background:#0b0b0b;

    padding:45px 40px;

    border-radius:22px;

    border:1px solid rgba(255,255,255,0.08);

    box-shadow:
        0 15px 40px rgba(0,0,0,0.6);

}


.signup-title{

    margin:0;

    font-family:"Syne",sans-serif;

    font-size:34px;

    font-weight:700;

    letter-spacing:1px;

}


.signup-subtitle{

    color:#888;

    margin-top:10px;
    margin-bottom:35px;

    font-size:14px;

}


.signup-card input{

    width:100%;

    padding:15px 16px;

    margin-bottom:16px;

    background:#111;

    border:none;

    outline:none;

    border-radius:12px;

    color:white;

    font-size:15px;

    border:1px solid rgba(255,255,255,0.08);

    transition:0.3s;

}


.signup-card input:focus{

    border-color:#777;

    background:#151515;

}


.signup-card input::placeholder{

    color:#666;

}



.signup-card button{

    width:100%;

    margin-top:15px;

    padding:15px;

    border:none;

    border-radius:14px;

    background:white;

    color:black;

    font-size:15px;

    font-weight:700;

    cursor:pointer;

    transition:0.3s;

}


.signup-card button:hover{

    transform:translateY(-2px);

    background:#e8e8e8;

}